* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: black;
  background-image: url('./images/background.jpg');
  background-repeat: no-repeat;
  background-position: 0px -100px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; 
} 

header {
  height: 50px;
  /* background-color: rgb(20,20,150,0.2 ); */
  position: relative;
}

nav {
  display: flex;
  gap: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 20px;
}

button {
  padding: 5px 10px;
  background-color: inherit;
  appearance: none;
  border: none;
  cursor: pointer;
  font-size: 25px;
  color: white;
}

button:hover:not(.active) {
  color: yellow;
}

button:active:not(.active) {
  color: blue;
}

.active {
  border-radius: 10px 10px 0px 0px;
  background-color: rgb(20,20,150,0.2); 
}

#content > div {
  border-radius: 10px 0px 10px 10px;
  background-color: rgb(20,20,150,0.2 );
  margin-left: 5vw;
  padding: 20px;
  height: 90vh;
}

h1 {
  color: white;
}

.home-page {
    margin-right: 207.5px;
}

.menu-page {
  margin-right: 115px;
}

.about-page {
  margin-right: 20px;
}