* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: #266fe0;
  background-image: linear-gradient(#7ff3d8, #266fe0);
  background-repeat: no-repeat;
  height: min(100vh, fit-content);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; 
} 

header {
  height: 50px;
  position: relative;
}

nav {
  display: flex;
  gap: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 20px;
}

button {
  padding: 5px 10px;
  background-color: inherit;
  appearance: none;
  border: none;
  cursor: pointer;
  font-size: 25px;
  color: white;
}

button:hover:not(.active) {
  color: yellow;
}

button:active:not(.active) {
  color: blue;
}

.active {
  border-radius: 10px 10px 0px 0px;
  background-color: rgb(20,20,150,0.2); 
}

#content > div {
  border-radius: 10px 0px 10px 10px;
  background-color: rgb(20,20,150,0.2 );
  margin-left: 5vw;
  padding: 20px;
  /* height: max(90vh,fit-content); */
  margin-bottom: 20px;
}

h1 {
  color: black;
}

.home-page {
    margin-right: 20px;
    background-image: url('./images/background.jpg');
    height: max(95vh, 200px);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: 0px 20px; */
}

.menu-page {
  margin-right: 117px;
  display: flex;
  flex-direction: column;
}

.about-page {
  margin-right: 209.5px;
}

.menu-img {
  height: 100%;
  margin-left: auto;
}

em {
  font-style: italic;
  color: greenyellow;
}

.menu-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

h2 {
  font-size: 26px;
  color: white;
}

h3 {
  margin-top: 15px;
}

.menu-page ul {
  list-style: none;
  font-size: 16px;

  & h4 {
    font-weight: bold;
    font-size: 18px;
  }

  & li {
    margin-bottom: 10px;
  }

  & p {
    color: white;
  }
}


.about-header {
  margin-bottom: 20px;

  h2 {
    margin-bottom: 10px;
  }
}

.about-page .section {
  margin-bottom: 15px;

  & ul {
    padding-left: 40px;
  }
}

.review-page {
  margin-right: 304.5px;
}

.review-item {
  margin-bottom: 15px;
}